@page "/about"

<div class="about-section" style="text-align: center;">
    <h2 class="text-divider"><span>À propos de nous</span></h2>
    <p>Medix est un SPA (application à page unique) créé par le framework blazor</p>
</div>

          
    @code {

    }
