@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject Data.LoginState loginState;

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="page">
            <div class="sidebar">
                <NavMenu IsLoged="@loginState.IsLoggedIn"/>
            </div>
        <div class="main">
            <div style="position: relative;padding: 10px; background-color: white; border-bottom: 1px ndiro #DDD ;  display: flex; justify-content: space-between; align-items: center;">
                
                <Search /> 

                @if (loginState.IsLoggedIn)
                {
                    <div style="position: absolute; right: 2%;">
                        <a href="panier" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </a>
                        <a href="wishlist" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        </a>
                        <a href="profile" class="btn btn-outline-primary"> @loginState.Name </a>
                    </div>
                }
                else
                {
                    <div  style="position: absolute; right: 2%;" aria-label="Basic example">
                        <a href="register" class="btn btn-secondary">Inscription</a>
                        <a href="login" class="btn btn-primary">Connexion</a>
                    </div>

                }

            </div>

            <div class="content px-4">
                @Body

            </div>
        </div>
    </div>
    <footer>
        <p class="mb-1">&copy; 2021 Medz, Hadj Hadji</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
